.vscode-ctags

core
Make*.dep
uImage
/external
# $(TOPDIR)/Makefile.[unix|win]::$(CONTEXTDIRS_DEPS)
.context
.context\ *
# $(TOPDIR)/Makefile.[unix|win]::$(DIRLINKS_EXTERNAL_DIRS)
.dirlinks
.fakelnk
.vscode
.idea
.DS_Store
tools/gdb/__pycache__
/build
.ccls-cache
compile_commands.json
imx9-sdimage.img
kwarning
SAVEMake.defs
SAVEconfig
.aider*
imx9-norimage.img
config.txt
.depend
.kconfig
*.lock
/bin
/bin_debug
/boot_romfsimg.h
/external
/Kconfig
/romfs.img
/staging
/symtab_apps.c
/wasm
cscope.out
Make.dep
.context
*.a
*.dbo
*.dba
*.adb
*.asm
*.dSYM
*.exe
*.gcno
*.gcda
*.hobj
*.i
*.inf
*.lib
*.lst
*.o
*.wo
*.obj
*.rel
*.src
*.swp
*.sym
*.su
*.map
*~
.built
.context
.depend
.kconfig
*.lock
/bin
/bin_debug
/boot_romfsimg.h
/external
/Kconfig
/romfs.img
/staging
/symtab_apps.c
/wasm
cscope.out
Make.dep
.context
# nuttx/$(TOPDIR)/Makefile.[unix|win]::$(DIRLINKS_EXTERNAL_DIRS)
.dirlinks
.vscode
.DS_Store
build
.ccls-cache
compile_commands.json
.aider*
.clang-format
